/*Section1 start*/
.section-one{
    height: auto;
    width: 100%;
    margin-bottom: 80px;
    
    @include media(414){
        margin-bottom: 32px; 
        height: auto;   
    }

    &-row{
        height: auto;
        width: 100%;
        position: relative;  
        border-radius: 26px;
        overflow: hidden;
        @include media(414){
            border-radius: 16px;
        }
        &-image{
            width: 100%;
            height: 100%;
            @include media(414){
                width: 100%;
                height: auto;
                flex-shrink: 0;
            }
        }
        &-titles{
            position: relative;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background:linear-gradient(0deg, #000 1.04%, rgba(28, 25, 23, 0.00) 77.98%);
        }
        &-title{
            @include media(414){
                display: none;
            }
            
            // position: absolute;
            // bottom: 170px;
            // left: 80px;
            margin-right: 490px;
            color: #FFF;
            font-family: $montserat;
            font-size: 64px;
            font-style: normal;
            font-weight: 600;
            line-height: 125%; 
        }
        &-subtitles{
            @include media(414){
                position: absolute;
             top: 112px;
             left: 16px;
             margin-right: 0px; 
            }
            // position: absolute;
            display: flex;
            top: 572px;
            left: 80px;
            gap: 25px;
            justify-content: center;
            margin-right: 790px;
        }
        &-subtitle{
            @include media(414){
                font-size: 18px;
            }
            color: #FFF;
            font-family: $montserat;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 84px;
            
        }
        &-icon{
            @include media (414){
                display: none;
            }
            width: 64px;
            height: 64px;
            flex-shrink: 0;
            background-color:rgba(0, 0, 0, 0.23);
            @include flex(center, center);
            border: 1px solid #fff;
            border-radius:50%;
            transition: all 0.2s ease-in-out;
        }
        &-icon:hover{
            background-color:rgba(0, 0, 0, 0.43);
            transform: rotate(30deg);

        }
        
    }
}
/*section1 end*/