/*SECTION 2 START*/
.section-two{
    width: 100%;
    height: 55px;
    &-row{
        height: 100%;
        width: 100%;
        padding: 4px 0px;
        @include flex(center,space-between);
        @include media(414){
            border-radius: 16px;
        }
        &-title{
            @include media(414){
                color:#000;
                font-size: 25px;
            }
            color:  #FF8541;
            font-family: $montserat;
            font-size: 39px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
        &-title.blak{
            color: #000;
        }

        &-button{
            @include media(414){
                padding: 12px 24px;
            }
            padding: 18px 36px;
            display: inline-flex;
            padding: 18px 36px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid #555351;
            background: #FFF;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
        &-button:hover{
            background-color: #555351;
            .section-two-row-button-text{
                color: #fff;
            }
        }
    }
}
/*SECTION 2 END*/